html {
  scroll-behavior: smooth;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: white;
  /* border: 2px solid red; */
}
body {
  font-family: "Poppins", sans-serif;
  /* font-family: 'Roboto', sans-serif; */
}
.nav-bar {
  background: black;
  width: 100%;
  padding: 10px;
  display: flex;
  /* height: 8vh; */
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;

  /* flex-direction: row; */
}

.nav-bar .resturant-name {
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 25px;
}

.nav-bar .nav-link {
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 30px;
}

.nav-bar .nav-link:hover {
  color: rgb(0, 174, 255);
}
.nav-outside img {
  height: 3vh;
  margin-right: 20px;
}

@media only screen and (max-width: 1000px) {
  .nav-bar {
    position: absolute;
    display: block;
  }
  .nav-bar .resturant-name {
    display: inline-block;
  }
  .nav-bar .navigation {
    padding-top: 1rem;
    display: block;
    text-align: left;
  }
  .nav-bar .nav-link {
    padding: 1rem;
    display: block;
  }

  .nav-bar .nav-outside {
    display: block;
    padding: 1rem;
  }
}
.home {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0.9)),
    url("./images/pizza.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 10em;
  width: 100%;
}

.home-title {
  width: 40%;
}
.home-title h1 {
  font-size: 70px;
  letter-spacing: 2px;
}

.home-title .line {
  height: 4px;
  width: 70%;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgb(192, 73, 5);
}

.home-title .description {
  width: 20rem;
  overflow: hidden;
}

@media only screen and (max-width: 1000px) {
  .home {
    padding: 3rem 1.5rem;
    padding-top: 35rem;
  }
}
.about-us {
  background: black;
  padding: 3rem 10rem;
  min-height: 50vh;
  width: 100%;
}
.about-us h2 {
  font-weight: normal;
  font-size: 30px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}

.about-us .line {
  height: 4px;
  background-color: rgb(192, 73, 5);
  width: 20%;
  margin: 0 auto;
  text-align: center;
}

.about-us-description {
  display: flex;
  margin-top: 30px;
  line-height: 30px;
  overflow: hidden;
  width: 100%;
}
.about-us-description .description {
  padding-right: 2rem;
}
.about-us-description img {
  height: 20rem;
  width: 20rem;
}

.description .line {
  height: 1px;
  margin-left: 0px;
  width: 38%;
}

@media only screen and (max-width: 1000px) {
  .about-us {
    padding: 3rem 3rem;
  }
  .about-us-description {
    flex-direction: column;
    text-align: center;
  }
  .about-us .description {
    padding: 0;
  }
}

.menu {
  clear: both;
  background: black;
  padding: 3rem 10rem;
}

.menu h2 {
  font-weight: normal;
  font-size: 30px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}

.menu .line {
  height: 4px;
  background: rgb(192, 73, 5);
  width: 20%;
  margin: 0 auto;
}

.menu .description {
  margin-top: 30px;
  width: 100%;
  line-height: 30px;
}
.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
}

.grid {
  display: flex;
  width: 97%;
  margin-top: 40px;
  font-size: 15px;
  line-height: 30px;
}
.grid img {
  width: 240px;
  height: 220px;
}
.grid .description {
  margin: 0;
  padding: 0 20px;
  font-weight: lighter;
}
.grid h4 {
  text-transform: uppercase;
  color: goldenrod;
}
@media only screen and (max-width: 1000px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (max-width: 800px) {
  .grid {
    flex-direction: column;
  }
  .menu {
    padding: 3rem 3rem;
    text-align: center;
  }
}

.find-us {
  background: black;
  padding: 3rem 10rem;
  min-height: 50vh;
}
.find-us h2 {
  font-weight: normal;
  font-size: 30px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}

.find-us .line {
  height: 4px;
  width: 20%;
  margin: 0 auto;
  background: rgb(192, 73, 5);
}

.details {
  margin-top: 40px;
  display: flex;
}

.details .description {
  width: 50%;
  padding-right: 2rem;
}

.details,
.location,
.phone {
  display: flex;
}

.details .description,
.contact {
  display: flex;
  flex-direction: column;
}
iframe {
  width: 30em;
  height: 20em;
}

.contact img {
  height: 50px;
}
.contact .img {
  padding-top: 15px;
}

.contact {
  padding-top: 30px;
}
.contact .info {
  padding: 20px;
  font-size: 15px;
}

.phone .info p {
  margin-bottom: 10px;
}

@media only screen and (max-width: 1000px) {
  .find-us {
    padding: 3rem 3rem;
  }
  .details {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .details .description {
    padding: 0;
  }
  .details,
  .location,
  .phone {
    flex-direction: column;
  }
  iframe {
    width: 15rem;
    height: 15rem;
  }
}

.mail-details {
  background: black;
  padding: 90px;
  display: flex;
}

.box-1 {
  width: 50%;
}
.box-1 img {
  height: 200px;
}

.box-2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.box-2 img {
  height: 1em;
  width: 2em;
}
.box-2 p {
  padding: 2rem;
}
.box-2 .box-2-1 {
  display: flex;
  align-items: center;
}

.box-2 .box-2-2 {
  display: flex;
  align-items: center;
}

.box-2 .box-2-2 p {
  padding-right: 2rem;
}

@media only screen and (max-width: 1000px) {
  .mail-details {
    padding: 3rem 3rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
  }

  .box-1,
  .box2 {
    width: 100%;
  }
  .box-2 {
    align-items: center;
    gap: 30px;
  }
  .box-2 .box-2-1 {
    flex-direction: column;
    align-items: center;
  }
  .box-2 .box-2-2 {
    flex-direction: column;
    align-items: center;
  }
  .box-2 .box-2-2 p {
    padding: 0px;
  }
  .box-2 .box-2-1 p {
    padding: 0px;
  }
  .box {
    padding: 0px;
  }
}
